.profile{
    font-family: Inter,sans-serif;
    padding: 20px;
    background-color: white;
    max-width: 400px;
    margin-top: 40px;
    border: 1px solid #dedfe0;
}
.profile-item{
    padding: 5px;
    border-bottom: 1px solid #dedfe0;
}
.profile-item label{
    display: block;
    font-size: 1rem;
    color: rgba(0,0,0,.4);
}
.profile input{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.profile-item p, .profile-item input{
    font-size: 1.2rem;
    font-weight: 500;
    color: rgba(0,0,0,.7);
    line-height: 15px;
}
.profile-name p{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
}


.profile-name i:hover{
    cursor: pointer;
    color: orangered
}

.profile h2{
    color: rgba(0,0,0,0.7);
    font-size: 1.6rem;
    padding: 5px;
    text-align: center;
}
@media(max-width: 768px){
    .profile-item label{
        font-size: 0.9rem;
    }
    .profile p{
        font-size: 1.1rem
    }
    .profile h2{
        font-size: 1.3rem;
    }
}
@media(max-width: 480px) and (min-width: 371px){
    .profile{
        max-width: 380px;        
    }
}
@media(max-width: 370px){
    .profile{
        max-width: 320px;        
    }
}