
#header-container {
  font-family:sans-serif;
    display: block;
    clear: both;
    letter-spacing: 8px;
    padding: 10px;
  }

#header-container  h1 {
    text-align: center;
    color: white;
    margin: 5px;
    font-size: 3.5em;
  }

  @media (max-width: 768px) and (min-width: 371px){
    #header-container h1{
      font-size: 2.1rem;
      letter-spacing: 5px;

    }
  }
  @media (max-width: 370px){
    #header-container h1{
      font-size: 1.6rem;
      letter-spacing: 4px;

    }
  }