.image-form{
    max-width: 690px;
    min-width: auto;
}
.image-form input,.image-form button {
    font-family: 'Roboto', 'Oxygen', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif ;
}